@import "colors";

.section {
  display: flex;
  font-size: 26px;
  justify-content: center;
  margin: 100px auto 0;
  width: 500px;
}

.form {
  border: 5px solid $c-yellow;
  padding: 20px;
}

.success {
  border: 5px solid $c-green;
  display: none;
  padding: 10px;
  width: 500px;
}

.password-fail {
  border: 5px solid $c-red;
  display: none;
  padding: 10px;
  width: 500px;
}

.fail {
  border: 5px solid $c-red;
  display: none;
  padding: 10px;
  width: 500px;
}